// nextflow.config
profiles {
  local {
    process.executor = 'local'
  }
  slurm {
    process.executor = 'slurm'
    process.beforeScript = 'module load apptainer'
    executor {
      queueSize = 100
    }
    clusterOptions = '--partition=normal'
  }
}

process {
    withName: FLYE {
            container = "/farmshare/user_data/rjuene/repos/BIOS270-AU25/Project1/project1_nf/envs/containers/bioinformatics_latest.sif"
            errorStrategy = {task.exitStatus in [137,143] ? "retry" : "finish"}
            cpus = 32
            memory = {64.GB * task.attempt}
            time = {4.h * task.attempt}
            maxRetries = 3
	}
	withName: BAKTA {
            container = "/farmshare/user_data/rjuene/repos/BIOS270-AU25/Project1/project1_nf/envs/containers/bakta_1.8.2--pyhdfd78af_0.sif"
            errorStrategy = {task.exitStatus in [137,143] ? "retry" : "finish"}
            cpus = 16
            memory = {16.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
	withName: MMSEQS2 {
            container = "/farmshare/user_data/rjuene/repos/BIOS270-AU25/Project1/project1_nf/envs/containers/bioinformatics_latest.sif"
            errorStrategy = {task.exitStatus in [137,143] ? "retry" : "finish"}
            cpus = 32
            memory = {4.GB * task.attempt}
            time = {1.h * task.attempt}
            maxRetries = 3
	}
	withName: PARALOGS {
            container = "/farmshare/user_data/rjuene/repos/BIOS270-AU25/Project1/project1_nf/envs/containers/bioinformatics_latest.sif"
            errorStrategy = {task.exitStatus in [137,143] ? "retry" : "finish"}
            cpus = 4
            memory = {4.GB * task.attempt}
            time = {1.h * task.attempt}
            maxRetries = 3
	}
	
}

apptainer {
	enabled = true
	autoMounts = true
    runOptions = "-B /farmshare/user_data/rjuene -B /farmshare/home/classes/bios/270/data/"
    cacheDir = '/farmshare/user_data/rjuene/repos/BIOS270-AU25/Project1/project1_nf/envs/containers'
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/trace.txt"
}